<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="RandomActsOfCoffee" connectionString="data source=payroll-db.qa.namelyservices.com;initial catalog=RandomActsOfCoffee;persist security info=True;user id=RandomActsOfCoffee;password=ISureDoLoveACupOfJoe" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>